@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"');

.contact {
    min-height: 100svh;
}


:root {
    /* Colors */
    --color-primary: #FF4B4B;
    --color-text: #545d7a;
    --color-white: #fff;
    --color-title: #242e4c;
    --color-background: #f7f8fb;
    --color-border: #ffffff;

    /* Fonts */
    --font-family: 'Montserrat', sans-serif;
    --fs-sm: 1.3rem;
    --fs-md: 1.6rem;
    --fs-lg: 2.2rem;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Transition & Box Shadow */
    --transition: 0.4s ease-in-out;
    --shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05);
    
/* --------------------------------------------------------------------------------------------------------- */
}
.navbar{
    font-size: 62.5%;
}
.contact-head {
    box-sizing: border-box;
    font-family: var(--font-family);
    color: #242e4c;
}
.contact-para{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
}

.serviceHeader {
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.serviceHeader h2 {
    font-size: 11vmin;
    margin: 0 auto;
    text-align: center;
}

.serviceHeader p {
    width: 50%;
    font-size: 3vmin;
    text-align: center;
}

/* Buttons */

.buttonSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px auto;
}

.buttonSection button {
    font-family: 'Montserrat', sans-serif;
    padding: 16px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.buttonSection .btn1 {
    background-color: transparent;
    border: 2px solid rgb(24, 24, 24);
    border-radius: 50px;

}

.buttonSection .btn1:hover {
    color: whitesmoke;
    background-color: rgb(24, 24, 24);
}



.buttonSection .btn2 {
    background-color: rgb(24, 24, 24);
    border: 2px solid rgb(24, 24, 24);
    color: whitesmoke;
    border-radius: 50px;

}

.buttonSection .btn2:hover {
    color: rgb(24, 24, 24);
    background-color: transparent
}

.buttonSection .btn2:hover a {
    color: rgb(24, 24, 24);
}

/* --------------------------------------------------------------------------------------------------------- */

.arch_contact_us_duplicate * {
    font-family: Nunito, sans-serif;
  }
  
  .arch_contact_us_duplicate .icon-block svg {
    width: 100%;
    height: 100%;
  }
  
  .arch_contact_us_duplicate .icon-block {
    width: 30px;
    height: 30px;
  }
  
  .arch_contact_us_duplicate .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  
  .arch_contact_us_duplicate .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .arch_contact_us_duplicate .responsive-cell-block {
    min-height: 75px;
  }
  
  .arch_contact_us_duplicate .responsive-container-block.big-container {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
     background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }
  
  .arch_contact_us_duplicate .responsive-container-block.container {
    max-width: 1100px;
    justify-content: space-evenly;
  }
  
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 60px;
    line-height: 65px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
  
  .arch_contact_us_duplicate .text-blk.section-subhead {
    font-size: 14px;
    line-height: 18px;
    color: #434242;
  }
  
  .arch_contact_us_duplicate .input {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    height: 54px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding-top: 1px;
    padding-right: 16px;
    padding-bottom: 1px;
    padding-left: 16px;
    font-size: 16px;
  }
  
  .arch_contact_us_duplicate .textinput {
    width: 100%;
    height: 125px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 27px;
    margin-left: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
  
  .arch_contact_us_duplicate .button {
    height: 50px;
    min-width: 240px;
    font-size: 16px;
    color: white;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
    background-color: var(--color-title);
  }
  
  /* .arch_contact_us_duplicate .form-wrapper {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #a1d1f2;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  } */
  
  .arch_contact_us_duplicate .social-media-icon-container {
    display: flex;
    max-width: 400px;
    justify-content: space-evenly;
  }
  
  .arch_contact_us_duplicate .input-element {
    background-color: #c4e3f8;
  }
  
  .arch_contact_us_duplicate .icon-block.social-icon {
    fill: var(--color-title);
  }
  
  @media (max-width: 1024px) {
    .arch_contact_us_duplicate .text-blk.section-head {
      font-size: 55px;
      line-height: 60px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.container {
      justify-content: space-between;
    }
  }
  
  @media (max-width: 768px) {
    .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
      text-align: center;
    }
  
    .arch_contact_us_duplicate .input {
      height: 45px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.container {
      justify-content: space-evenly;
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .arch_contact_us_duplicate .text-blk.section-head {
      font-size: 40px;
      line-height: 45px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .arch_contact_us_duplicate .input {
      height: 40px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
      text-align: left;
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 30px;
      padding-bottom: 0px;
      padding-left: 30px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .arch_contact_us_duplicate .button {
      width: 100%;
    }
  
    .arch_contact_us_duplicate .button {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
      height: 50px;
    }
  
    .arch_contact_us_duplicate .form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .icon-block {
      width: 25px;
      height: 25px;
    }
  }



 
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 50px;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}


/* --------------------------------------------------------------------------------------------------------- */
body {

    font-family: var(--font-family);
    font-size: var(--fs-md);
    font-weight: var(--fw-regular);
}

.accordion__wrapper {
    box-shadow: var(--shadow);
    border-radius: 2.5rem;
    backdrop-filter: blur(10px);
}

.accordion__title {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    color: var(--color-title);
    text-align: center;
    margin-bottom: 4rem;
}

.accordion {
    border-bottom: 0.1rem solid var(--color-border);
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

/* .accordion__icon {
    background-color: var(--color-primary);
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    flex-shrink: 0;
} */

.accordion__question {
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
    color: var(--color-title);
}

.accordion__answer {
    font-size: var(--fs-sm);
    padding: 2rem 0;
}

.accordion__content {
    overflow: hidden;
    height: 0;
    transition: var(--transition);
}

@media screen and (min-width: 580px) {
    .accordion__wrapper {
        padding: 3rem 5rem;
    }
}

/* --------------------------------------------------------------------------------------------------------- */